---
import SelectedUnitPanel from "./SelectedUnitPanel.astro";
---

<div class="map-panel">
  <div class="panel-header">
    <div class="panel-title">UNIT LOCATION (MAP VIEW)</div>
    <a class="view-all-link" href="#">⛶ Full Screen</a>
  </div>
  <div class="map-container" style="height:220px">
    <div class="map-grid"></div>
    <!-- Buildings -->
    <div class="map-building" style="left:10%;top:12%;width:18%;height:22%"></div>
    <div class="map-building" style="left:32%;top:12%;width:18%;height:22%"></div>
    <div class="map-building" style="left:54%;top:12%;width:18%;height:22%"></div>
    <div class="map-building" style="left:76%;top:12%;width:16%;height:22%"></div>
    <div class="map-building" style="left:10%;top:42%;width:18%;height:22%"></div>
    <div class="map-building" style="left:32%;top:42%;width:18%;height:22%"></div>
    <div class="map-building" style="left:54%;top:42%;width:18%;height:22%"></div>
    <div class="map-building" style="left:76%;top:42%;width:16%;height:22%"></div>
    <div class="map-building" style="left:10%;top:72%;width:18%;height:22%"></div>
    <div class="map-building" style="left:32%;top:72%;width:18%;height:22%"></div>
    <div class="map-building" style="left:54%;top:72%;width:18%;height:22%"></div>
    <!-- Nodes -->
    <div class="map-node mn-green" style="left:19%;top:23%">1</div>
    <div class="map-node mn-green" style="left:41%;top:23%">2</div>
    <div class="map-node mn-green" style="left:63%;top:23%">3</div>
    <div class="map-node mn-green" style="left:84%;top:23%">4</div>
    <div class="map-node mn-yellow" style="left:19%;top:53%">5</div>
    <div class="map-node mn-green" style="left:41%;top:53%">6</div>
    <div class="map-node mn-red" style="left:63%;top:53%">7</div>
    <div class="map-node mn-green" style="left:84%;top:53%">8</div>
    <div class="map-node mn-green" style="left:19%;top:83%">9</div>
    <div class="map-node mn-green" style="left:41%;top:83%">10</div>
    <div class="map-node mn-green" style="left:63%;top:83%">11</div>
    <div class="map-node mn-yellow" style="left:84%;top:83%">12</div>
    <div class="map-node mn-green" style="left:30%;top:93%">13</div>
    <div class="map-node mn-green" style="left:52%;top:93%">15</div>
    <div style="position:absolute;bottom:6px;left:50%;transform:translateX(-50%);font-size:9px;color:var(--text3);white-space:nowrap">
      Jalan Dataran Niaga MBIP
    </div>
  </div>
  <div class="map-legend">
    <div class="ml-item"><span class="s-dot sd-green" style="width:9px;height:9px"></span> Normal</div>
    <div class="ml-item"><span class="s-dot sd-yellow" style="width:9px;height:9px"></span> Warning</div>
    <div class="ml-item"><span class="s-dot sd-red" style="width:9px;height:9px"></span> Alert</div>
    <div class="ml-item">
      <span style="width:9px;height:9px;border-radius:50%;background:transparent;border:2px solid var(--text3);display:inline-block"></span> 
      Offline
    </div>
  </div>
  <SelectedUnitPanel />
</div>